<script>
    $(document).ready(function () {
        $('#createShowForm').click(function () {
            $('.createFormthing').toggle("slide");
        });
    });
    $(document).ready(function () {

        $('updateFormBtn').click(function () {
            $('.updateForm').toggle("slide");
        });
    });
</script>

<h2>Welcome {{username}}</h2>
<div>
    <button type="button" class="btn btn-primary postForm" id="createShowForm">
        Create a Post
    </button>
</div>

{{!-- create new post --}}
<form class="createFormthing" style="display: none;" id="savePost" data-id="{{id}}">
    <div class="modal-content">
        <div class="mb-3">
            <input class="form-control" id="postTitle" rows="4" placeholder="..."></input>
        </div>
        <div class="mb-3">
            <textarea class="form-control" id="enteredPost" rows="4" placeholder="..."></textarea>
        </div>
        <div class="modal-footer">
            {{!-- TODO: close button doesn't work --}}
            <button type="button" class="btn btn-secondary">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>

{{#each Posts as |post|}}

{{!-- MY POSTS --}}
<div class=" card row align-center mb-5">
    <div class="col-md-6">
        <h2 class="card-title">{{title}}</h2>
        {{!-- TODO:username still not showing up --}}
        <nav card="card-subtitle">Created at {{format_date createdAt}}</nav>
    </div>
    <p class="card-body">
        {{post.post}}
    </p>
    {{!-- delete button --}}
    <button type="button" class="btn btn-primary deleteBtn" data-set="{{post.id}}">
        Delete
    </button>
    {{!-- update button --}}
    <button type="button" class="btn btn-primary updateFormBtn" id="createShowUpdateForm">
        Update Post
    </button>
</div>

{{!-- update form --}}
<form class="updateForm" style="display: none;" data-id="{{id}}">
    <div class="modal-content">
        <div class="mb-3">
            <input class="form-control" id="postTitle" rows="4" placeholder="..."></input>
        </div>
        <div class="mb-3">
            <textarea class="form-control" id="enteredPost" rows="4" placeholder="..."></textarea>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>
{{/each}}
</div>

<script src="/js/deletepost.js"></script>
<script src="/js/createpost.js"></script>
{{!--
<script src="/js/updatepost.js"></script> --}}