<script>
$(document).ready(function(){
    $('#createShowForm').click(function() {
      $('.createFormthing').toggle("slide");
    });
});
</script>

<h2>Welcome {{username}}</h2>
<div>
    <button type="button" class="btn btn-primary postForm" data-bs-toggle="modal" id="createShowForm" >
        Create a Post
    </button>
</div>
    <form class="createFormthing" style="display: none;" id="savePost" data-id="{{id}}">
        <div class="modal-content">
              <div class="mb-3">
                <input class="form-control" id="postTitle" rows="4" placeholder="..."></input>
            </div>
            <div class="mb-3">
                <textarea class="form-control" id="enteredPost" rows="4" placeholder="..."></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="createShowForm">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
{{#each Posts as |post|}}
{{!-- update form --}}
<div class="modal" id="updateModalForm" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="mb-3">
                <input class="form-control" id="updatedTitle" rows="4">{{post.title}}</input>
            </div>
            <div class="modal-body mb-3">
                <textarea class="form-control" id="updatedPost" rows="3">{{post.post}}</textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<div class=" card row align-center mb-5">
    <div class="col-md-6">
        <h2 class="card-title">{{title}}</h2>
        {{!-- TODO:username still not showing up --}}
        <nav card="card-subtitle">Created at {{format_date createdAt}}</nav>
    </div>
    <p class="card-body">
        {{post.post}}
    </p>
</div> {{!-- update button --}}
{{!-- delete button --}}
<button type="button" class="btn btn-primary deleteBtn"  data-set="{{post.id}}">
    Delete
</button>

<button type="button" class="btn btn-primary updateForm" data-bs-toggle="modal" data-bs-target="#updateModalForm" data-set="{{post.id}}" >
    Update Post
</button>

{{/each}}
</div>

<script src="/js/deletepost.js"></script>
<script src="/js/createpost.js"></script>
{{!-- <script src="/js/updatepost.js"></script> --}}