{{#each posts}}
<div class=" card row align-center mb-5">
  <div class="col-md-8 ">
    <h2 class="card-title col-sm-6 col-md-8 btn bg-info">{{title}} </h2>
    <a class="nav-link active" href="/post/{{id}}"> Created by {{User.username}} at {{format_date
      createdAt}}</a>
  </div>
  <p class="card-body">
    {{post}}
  </p>
</div>
{{/each}}